In [3]:
import pandas as pd

In [8]:
initial_investment = 100.0
weekly_topup = 50.0
annual_interest = 0.1
num_weeks = 52 * 30

In [5]:
weekly_interest = (annual_interest / 52)

In [4]:
deposit = [weekly_topup] * num_weeks
deposit[0] += initial_investment
rate = [weekly_interest] * num_weeks

In [5]:
df = pd.DataFrame({ 'deposit':deposit, 'rate':rate})
df['total'] = (df['deposit'] * df['rate'].shift().add(1).cumprod().fillna(1)).cumsum()

In [6]:
df['year'] = df.index // 52

In [7]:
new_df = pd.DataFrame({"deposit":df.groupby('year').sum()['deposit'].cumsum(), 'amount':df.groupby('year').last()['total']})

In [8]:
new_df

      deposit         amount
year
0      2700.0    2831.684612
1      5300.0    5850.373102
2      7900.0    9186.219473
3     10500.0   12872.545851
4     13100.0   16946.175347
5     15700.0   21447.799881
6     18300.0   26422.386664
7     20900.0   31919.627377
8     23500.0   37994.434545
9     26100.0   44707.490071
10    28700.0   52125.851384
11    31300.0   60323.621291
12    33900.0   69382.688195
13    36500.0   79393.544085
14    39100.0   90456.188476
15    41700.0  102681.127306
16    44300.0  116190.476802
17    46900.0  131119.183303
18    49500.0  147616.371260
19    52100.0  165846.832850
20    54700.0  185992.674109
21    57300.0  208255.134006
22    59900.0  232856.594639
23    62500.0  260042.802635
24    65100.0  290085.323941
25    67700.0  323284.256522
26    70300.0  359971.228076
27    72900.0  400512.708693
28    75500.0  445313.671571
29    78100.0  494821.638329

In [10]:
new_df.values.tolist()

[[2700.0, 2831.684612273926],
 [5300.0, 5850.373102276091],
 [7900.0, 9186.219472947],
 [10500.0, 12872.545851297584],
 [13100.0, 16946.175346708154],
 [15700.0, 21447.79988091558],
 [18300.0, 26422.38666398181],
 [20900.0, 31919.627376575856],
 [23500.0, 37994.4345454991],
 [26100.0, 44707.4900708023],
 [28700.0, 52125.851383790556],
 [31300.0, 60323.62129089334],
 [33900.0, 69382.68819454206],
 [36500.0, 79393.54408520073],
 [39100.0, 90456.18847555955],
 [41700.0, 102681.12730638767],
 [44300.0, 116190.47680222198],
 [46900.0, 131119.18330342558],
 [49500.0, 147616.37125964812],
 [52100.0, 165846.83284994],
 [54700.0, 185992.67410949542],
 [57300.0, 208255.13400635996],
 [59900.0, 232856.59463905654],
 [62500.0, 260042.80263520687],
 [65100.0, 290085.3239409405],
 [67700.0, 323284.25652224274],
 [70300.0, 359971.22807570867],
 [72900.0, 400512.70869315695],
 [75500.0, 445313.67157066223],
 [78100.0, 494821.63832922664]]

## Consolidate into Bins

In [11]:
num_bins = 10
initial_investment = 100.0
weekly_topup = 50.0
annual_interest = 0.1
num_weeks = 52 * 30
weekly_interest = (annual_interest / 52)

In [12]:
deposit = [weekly_topup] * num_weeks
deposit[0] += initial_investment
rate = [weekly_interest] * num_weeks

In [13]:
df = pd.DataFrame({ 'deposit':deposit, 'rate':rate})
df['total'] = (df['deposit'] * df['rate'].shift().add(1).cumprod().fillna(1)).cumsum()

In [14]:
df['bin'] = df.index // (num_weeks / num_bins)

In [16]:
new_df = pd.DataFrame(
    {
        "deposit": df.groupby("bin").sum()["deposit"].cumsum(),
        "amount": df.groupby("bin").last()["total"],
    }
)

In [17]:
new_df

     deposit         amount
bin
0.0   7900.0    9186.219473
1.0  15700.0   21447.799881
2.0  23500.0   37994.434545
3.0  31300.0   60323.621291
4.0  39100.0   90456.188476
5.0  46900.0  131119.183303
6.0  54700.0  185992.674109
7.0  62500.0  260042.802635
8.0  70300.0  359971.228076
9.0  78100.0  494821.638329